.semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #0156ff;
}
.pm-color {
  color: var(--primary-color);
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.csr {
  cursor: pointer;
}
.h-20vh {
  height: 50vh;
}
.h-full {
  height: 100%;
}
.w-full {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.y-center {
  display: flex;
  align-items: center;
}
.between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hidden {
  display: none;
}
.carousel-btn-ctr {
  top: 0;
  left: 0;
}
.carousel-btn-div {
  display: flex;
  justify-content: space-between;

  padding: 0px 0.5rem;
}
.carousel .btn {
  background-color: none;
  border: none;
}
header {
  position: sticky;
  top: 0;
  box-shadow: 2px 2px 5px rgba(186, 184, 184, 0.732);
  background-color: white;
  z-index: 1200;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
header .sec-1 {
  flex-grow: 0.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
}

header .sec-2 {
  flex-grow: 0.3;
  display: flex;
  justify-content: space-evenly;
}
header .mobile-container {
  display: none;
}
.carousel .btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgb(252, 250, 250);
}

.fade {
  animation: fade-animation 2s ease-in-out;
}
.card-slider {
  display: flex;
}
.product-card {
  display: inline-flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 6px;
}
.product-img img {
  width: 100%;
  object-fit: cover;
}
.tick {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: #78a962;
}
.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-txt {
  color: #a2a6b0;
}
.stars {
  display: inline-flex;
  gap: 8px;
}
@keyframes fade-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
section {
  display: grid;
  row-gap: 1rem;
  margin-top: 0.5rem;
  padding: 0px 8px;
}

.card {
}


mobile - max 600px
 
tab - 768




/* For mobile devices */
@media screen and (max-width: 600px) {
  header {
    background-color: #0156ff;
    color: white;
  }
  header .sec-1 {
    display: none;
  }
  header .sec-2 {
    display: none;
  }
  header .mobile-container {
    display: inline-flex;
    align-items: center;

    flex-grow: 1;
    justify-content: space-between;
    background-color: #0156ff;
  }
  #search-box {
    border-radius: 0.5rem;
    background-color: white;
    padding: 0.6rem;
  }
  .cart {
    position: relative;
  }
  .cart span {
    position: absolute;
    padding: 2px;
    width: 20px;
    top: -8px;
    left: 1.2rem;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: whitesmoke;
  }
  section {
    display: grid;
    row-gap: 1rem;
    padding: 4px 0.5rem;
  }
  .h-20vh {
    height: 30vh;
  }
  .card-slider
  {
    display: grid;
    grid-template-columns: 1fr;
  }
}



